[2018-06-18 14:05] spark2ignite opened #4 "NodePool Selector required"
Most people who would use something like kubeIP, will allocate specific node-pool to run pods requiring fixed set of static addresses.

kubeIP should support assigning static IP addresses only to nodes assigned to specific node-pool

[2018-06-19 11:00] #4 closed

[2018-06-21 22:55] pdecat opened #15 "Manage labels on nodes to allow having less static IPs than nodes"
Documentation states that there must be at least as many static IP addresses as nodes.

I'd love to be able to use kubeip and have fewer static IP addresses than nodes.

Kubeip could probably add specific labels to the nodes and pods needing egress using these IPs could have nodeSelector or affinity constraints to be scheduled on those.

In my current use case, I currently have two NAT instances w

[2018-06-22 01:01] WilliamDenniss commented on #15
In my testing you can still add more nodes, they just won't get static IPs. If you rely on all your nodes being whitelisted, then yes it won't work. +1 to label the nodes that receive the static IP. Being able to run mixed workloads on the same nodepool where only some require a static IP would be great!

I'd suggest adding a second label, which is the name of the IP itself. That way you could use

[2018-06-22 01:10] WilliamDenniss opened #16 "Assign static IPs to existing nodes, not just newly added ones"
Currently static IPs are only assigned to nodes created after the kubeIP deployment is available.

This means that if a node is added while the deployment is unavailable (e.g. it was disrupted during a node upgrade event), it won't get a static IP. It also means that any nodes existing before the deployment is available won't get static IPs assigned.

I'd suggest checking all existing nodes on boo

[2018-06-22 06:06] pdecat commented on #15
Great, so it's just a matter of adding/removing labels, isn't it?

[2018-06-24 08:45] avivl commented on #16
@WilliamDenniss
`KUBEIP_FORCEASSIGNMENT` which defaults to true will check on startup and every 5 minutes if there are some nodes in the pool that are not assigned to a reserved address. If such nodes will be found then kubeip will assign a reserved address (if one is available to them)

[2018-06-24 08:45] #16 closed

[2018-06-25 07:14] spark2ignite commented on #15
@avivl - would be better to replace the dots with dashes as per K8s notion specified at https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pods

[2018-06-25 07:15] avivl commented on #15
@pdecat @WilliamDenniss
After assigning an IP address to a node kubeip will also crate a label for that node `kubip_assigned` with the value of the IP address (`.` are replaced with `_`)

[2018-06-25 07:16] #15 closed

[2018-06-25 10:23] pdecat commented on #15
@avivl are the labels removed when a node fails and the IP was reassigned to another one?

[2018-06-25 11:15] avivl commented on #15
@pdecat If the node will get a new IP then the value of the label will be overwritten

[2018-06-25 11:41] pdecat commented on #15
What if there are less reserved IP addresses than nodes?

[2018-06-25 11:58] avivl commented on #15
@pdecat nothing. If there are less IP address then nodes then nothing will happen to this nodes. Once an IP will be available it will be assigned to one e of the nodes

[2018-06-25 13:35] pdecat commented on #15
It will still have a tag referencing an IP address that has been reassigned to another node, isn't it?

If so, pods can't rely on this label via nodeSelector or affinity constraints to be scheduled on those.

Note: perhaps that wasn't clear in my original description but that's what this issue is all about.

[2018-06-25 21:20] WilliamDenniss commented on #15
Ideally I think the kubeIP operator would validate that both labels are correct as part of the regular poll, and remove labels that are no longer correct. From a consistency standpoint this seems like the ideal behavior.

But I'm curious if this condition can actually happen today? I would think once assigned, it wouldn't be unassigned. Or are you suggesting that the user or some other process may

[2018-06-25 21:45] pdecat commented on #15
Oh, I presumed kubeip would do it for failing or upgraded (cordon, drain, reboot) nodes but now that you mention it, I realize it watches only for new/removed nodes.

I guess as long as failing and upgraded nodes keep their reserved IP address, this is covered.

[2018-06-26 06:02] avivl commented on #15
@pdecat @WilliamDenniss  just to be on the safe side, I'm now checking if there is a node with the ip tag and clear that tag

[2018-06-28 06:02] yob opened #20 "Node label not applied when node running kubeIP has its IP address forcibly changed"
Thanks for a great tool, we're wrestling with the target use case (a partner that requires us to make requests from a whitelisted IP) and this should really help!

I gave it a go on a test cluster which only has 2 nodes, and it worked as described. However, the node that was running kubeIP had its IP address forcibly changed and the logs look like this:

[code]

When I examine the nodes via the GC

[2018-06-28 07:00] spark2ignite commented on #20
@yob Under the `deploy/kubeip-configmap.yaml` there is a `KUBEIP_FORCEASSIGNMENT` param which is set to `true` by default.

If you don't want your existing nodes to change the existing external IP, modify it to `false` before deploying kubeIP. When the `KUBEIP_FORCEASSIGNMENT` is set to `false`, kubeIP will assign static external IPs from the pool only to the new nodes in the node-pool.

[2018-06-28 07:05] yob commented on #20
Cheers. I considered that, but I was hoping to keep `KUBEIP_FORCEASSIGNMENT` on, yet still get the labels set.

It's a bit of a tricky timing issue I guess, and maybe it's not worth the effort to fix the edge case. Would it be possible to have the ticker set the labels if they're missing? We wouldn't need the labels straight away, having the cluster to converge on the final config after a few minu

[2018-06-28 07:07] avivl commented on #20
@yob I'll supply a solution either today or early next week

[2018-06-28 07:07] yob opened #21 "Is roles/compute.storageAdmin role really needed?"
I was surprised to see `roles/compute.storageAdmin` in the list of required roles, so I experimented with removing it and kubeIP *seems* to still work.

I might be missing something, but is it definitely required? The permissions kubeIP requires are quite broad, so anything that reduces the surface area would be helpful.

[2018-06-28 08:12] spark2ignite opened #22 "Setting KUBEIP_FORCEASSIGNMENT to "false" still reassigns the IP of the existing nodes"
My cluster has only one node.

$ cat deploy/kubeip-configmap.yaml
[code]

Log output:
[code]

[2018-06-28 12:31] yob commented on #20
Thanks!

[2018-06-28 13:17] #22 closed

[2018-06-28 13:24] yob commented on #21
great!

[2018-06-28 20:03] #21 closed

[2018-09-17 12:05] mhulscher opened #25 "Restrict kubeIP cluster permissions"
The suggested Kubernetes deployment manifests assign the `cluster-admin` ClusterRole to the default/default ServiceAccount.

Preferably, a separate ServiceAccount is created with a limited set of permissions which is then assigned to kubeip.

[2018-09-23 07:49] #25 closed

[2018-10-03 15:11] pdecat opened #34 "Kubeip should update the node it is running on with care"
**Describe the bug**

This is a reflection I've had two weeks ago when examining the kubeip code related to updating external NAT access configs, and I've now managed to trigger the issue as described below.

When Kubeip deletes the external NAT access config with the ephemeral public IP address for the node it is running on, it looses access to the Google Compute API as it is exposed on public IP

[2018-10-03 17:06] pdecat commented on #34
Here are some more test results with more detailed logs and nanosecond resolution (code at https://github.com/pdecat/kubeip/tree/8234ba226619d3b917d356a76741b5aa0a6ae0de).

# With Private Google Access disabled:

[code]

Notice that:
- the `Replaced IP for` message is here
- the one failing call is one to the kubernetes API to retrieve nodes in `GetNodeByIP` (not sure why this one failed)
- the ta

[2018-10-04 05:53] avivl commented on #34
@pdecat Thanks for the detailed description.
If KubeIP will recover and fix the address and the TAG do you still think that this is an issue?

[2018-10-04 06:41] pdecat commented on #34
It depends,I believe handling the errors and retrying early could improve
the situation in that nodes would not stay too long without IP address or
tag.

When/if the node is left without a public IP, it can no longer report to
the master, and when that lasts too long, it is automatically replaced with
the auto-repair feature of GKE.

In the mean time, I thought of other potential improvements :

-

[2018-10-04 06:58] avivl commented on #34
Thanks again.
I think anti-affinity is a good approch
In the coming month, I'll not have time to work on it (a lot of traveling... and other work commitments).
If you'll create a PR I'll find a time to review it.

[2018-10-19 16:39] mmosttler opened #35 "deployment yaml Deployment object missing serviceAccountName"
**Describe the bug**
After following deploy steps for using built image I was getting the following in the log:
"ERROR: logging before flag.Parse: E1019 16:31:10.936989       1 reflector.go:205] github.com/doitintl/kubeip/pkg/controller/controller.go:159: Failed to list *v1.Pod: pods is forbidden: User "system:serviceaccount:default:default" cannot list pods at the cluster scope: Unknown user "sys

[2018-10-19 16:45] mmosttler commented on #35
After looking over the deploy/kubeip-deployment.yaml it appeared it was missing the serviceAccountName: kubeip-sa in the Deployment object.  After adding that it appears to have started up correctly and reassigned my node(s) with the new static ip.

[2018-10-20 14:19] spark2ignite commented on #35
Thanks, @mmosttler! Would you like to submit a pull request?

[2018-10-31 06:18] avivl commented on #35
#36

[2018-10-31 06:18] #35 closed

[2018-11-05 09:17] avivl commented on #34
@pdecat can you check if the code in https://github.com/doitintl/kubeip/tree/issue-34 solves the problem?

[2018-11-05 09:20] pdecat commented on #34
Hi @avivl,

I've already tried that, and it failed stating the `natIP` field is immutable or something like that.

source: https://cloud.google.com/compute/docs/ip-addresses/reserve-static-external-ip-address#IP_assign

[2018-11-05 09:42] avivl commented on #34
Thanks @pdecat
Since KubIP is monitoring a specific node pool " KUBEIP_NODEPOO" if you install kubeip on another non monitored node-pool then we should n't have this problem. WDYT?

[2018-11-05 10:04] pdecat commented on #34
That's indeed a workaround.

[2018-11-05 10:42] avivl commented on #34
Ok so I'll add it to th readme file

[2018-11-05 11:01] #34 closed

[2018-11-16 15:09] mmosttler opened #39 "kubeip pods forbiddent from using priorityClass system-cluster-critical"
**Describe the bug**
The kubeip pods are not able to be started in GKE 1.11.2-gke.18 due to:
forbidden: pods with system-cluster-critical priorityClass is not permitted in default namespace

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy kubeip to GKE 1.11.2-gke.18 cluster
2. See error (ex. pods "kubeip-7474fdb9c4-" is forbidden: pods with system-cluster-critical priorityClass is not

[2018-11-18 12:14] eranchetz commented on #39
@avivl / @spark2ignite  Due to [this](https://kubernetes.io/docs/tasks/administer-cluster/guaranteed-scheduling-critical-addon-pods/)
It seems we have to move kubeip to run in the kube-system namespace.
I will make the required changes unless you have any objection.

[2018-11-18 12:15] spark2ignite commented on #39
@eranchetz go ahead

[2018-12-06 14:51] fs-wnelson opened #41 "Need to fix typo in deployment YAML"
The file `deploy/kubeip-deployment.yaml` has a typo, so it never schedules any nodes.

Line 22 `deafult-pool` needs to be `default-pool`.

[2018-12-07 03:57] spark2ignite commented on #41
thanks, @fs-wnelson. I have pushed a fix

[2018-12-07 03:57] #41 closed

[2019-03-27 19:37] nccurry opened #44 "Unable to create kubeip-sa ClusterRole in GKE"
I am unable to create the following yaml definition in GKE:
[code]

I am seeing the following error with ```kubectl apply -f test.yml```

The service account I am using for this has already been granted cluster-admin
[code]

I am not sure if this is an issue with GKE RBAC or with the specific permissions in the clusterrole?

[2019-03-27 19:39] #44 closed

[2019-03-27 19:40] nccurry commented on #44
Clearing out my ~/.kube directory seems to have solved the issue.

[2019-03-28 14:27] wbyoung opened #45 "Apply arbitrary labels to nodes"
Similar to #15, I'd like to have fewer static IPs than nodes. I'd like to, however have the ability to tag the node with a more customized label to allow the static IPs to serve different purposes (this is a small scale deployment at this time).

For instance:

[code]

Would this be something that fits in the scope of this project? Would it be hard to add? I can take a stab when I have time if you

[2019-03-28 14:43] avivl commented on #45
@wbyoung this shouldn't be too hard to add. I don't have the bandwidth for it now.
You can take a look [here](https://github.com/doitintl/kubeip/blob/master/pkg/kipcompute/compute.go#L198) and make the replacment based on any rules

[2019-04-02 16:36] remoe opened #46 "kubeip not work with GKE 1.12.6 single node?"
I try to setup kubeip on a single node (one node pool with one node) cluster. After I apply the configuration the node goes in the "NotReady" state. The node still stay in this state after deleting the kubeip deployment.

[2019-04-04 06:46] avivl commented on #46
@remoe Kubeip will not work if there is only one node

[2019-04-04 06:46] #46 closed

[2019-04-29 08:48] yra-wtag commented on #46
@avivl can you please explain a bit about why it wont work in a one node cluster. Is this a limitation of the current software and can be improved or an Architectural Decision that can not be fixed.

Basically my question is regarding how it handles dynamic situations in the Kubernetes cluster for example upgrading Kubernetes version, Autoscaling etc. Another question is does it work well with exi

[2019-04-29 08:52] spark2ignite commented on #46
@yra-wtag KubeIP was designed for situations when you have multiple nodes in your GKE cluster but you want outgoing traffic to originate from a specific node or nodes. If your cluster has only one node, it means all your outgoing traffic will originate from this node and KubeIP will not be required. Make sense?

[2019-04-29 08:58] yra-wtag commented on #46
@spark2ignite
Well if you have auto-scaling then you can have 1 to as many you like nodes. These nodes are created automatically, so how does kubeip handle this situation.
The fact is the cluster does not have a fixed amount of nodes, it might have 1 to 5 nodes depending on the load of the service. So in our situation, KubeIP needs to assign static IP in a dynamic situation. Is it possible? curren

[2019-04-29 12:36] spark2ignite commented on #46
@eranchetz can you please look into this?

[2019-04-29 12:41] avivl commented on #45
@wbyoung Can you please explain what exactly do you need? You can apply any labels to your cluster.
What the expected behavior from Kubeip?

[2019-04-29 13:15] eranchetz commented on #46
I just deployed a single node cluster and kubeip according to the README, the machine ip changed a few seconds after, so it seems it does work with a single instance.

@yra-wtag / @remoe can you please provide instruction on how to reproduce the issue?

[2019-04-29 13:20] wbyoung commented on #45
@avivl, I was thinking of the following use case for a single cluster:

- Accept incoming mail
- Accept incoming web traffic

In this case, it'd be useful to be able to have two pools of static IPs (with the appropriate DNS records) and to have the nodes run the corresponding services, right?

The labels would allow defining rules for which nodes the services would run on.

Is there another way on

[2019-04-29 13:21] remoe commented on #46
I don't have this environment anymore. But I wonder how this should work, because in the docs it has:

```We recommend that KUBEIP_NODEPOOL should NOT be the same as KUBEIP_SELF_NODEPOOL```

So, when you have a one node nodepool you can't have two nodepools.

[2019-04-29 13:28] eranchetz commented on #46
@remoe In my case I set the same node pool for both even though it is not recommended (which makes perfect sense). But it works nonetheless.

[2019-04-29 13:35] remoe commented on #46
@eranchetz , I've also tried this in the past. But I had still the same issue. Which GKE version you have used?

[2019-04-29 13:45] eranchetz commented on #46
@remoe I now see I used 1.11.8-gke.6,
I'll create a new cluster and try again with 1.12.6.

[2019-04-29 14:43] eranchetz commented on #46
@remoe OK, I was able to reproduce the issue with 1.12.6-gke.10, but, after a few seconds the node changed back to the "Ready" state, Any chance you can reproduce the issue and send me the details, I will try to follow your instructions.

[2019-05-08 06:31] yra-wtag commented on #46
@eranchetz i have been able to reproduce the issue on 1.12.7-gke.10 ; As you have said previously the node indeed went back to `Ready` state. However i have tried twice it did not change IP after half an hour.

This is how the process worked
1. I followed the instructions on a g1-small (1 vCPU, 1.7 GB memory) node, regarding ip address, service account
2. As every other node it starts with a defau

[2019-05-08 07:03] eranchetz commented on #46
@yra-wtag , Ok, I will try to reproduce it myself with the same parameters and update.
thanks 👍

[2019-05-08 09:34] eranchetz commented on #46
@yra-wtag I was still unable to reproduce with your parameters.
In case you reproduce it again, can you please share the output of:
[code]
Thanks again

[2019-05-09 05:50] yra-wtag commented on #46
@eranchetz thanks for the reply, unfortunately there is no logs. I think kubernetes lost connection to this node.

[2019-05-13 09:07] eranchetz opened #50 "Let the user config kubeip interval time"
We should move the ticket to config so the user can config in which interval should kubeip check for new nodes/ips

currently it runs every 5 minutes.

[2019-05-13 10:57] #45 closed

[2019-05-13 14:39] wbyoung commented on #45
I think #49 may be a different feature from the request here, but looks useful.

If #49 does solve the above use case, can you give an example of how to configure things to handle the previous comment (which is for a single node pool)?

[2019-05-13 14:52] avivl commented on #45
@eranchetz can you explain(You'll probably do a better job than me)

[2019-05-13 14:53] #50 closed

[2019-05-14 09:38] eranchetz commented on #45
Hey @wbyoung,

I'll give a simplified example, I hope it will make sense.
I have 2 node pools with 1 instance each:
- pool-web
- pool-mx

I reserve 2 static ips and label them:
`kubeip-node-pool=pool-web`
`kubeip-node-pool=pool-web`

The result will be that pool-web will only use the web static ip address
and `pool-mx` will only use the mx static ip.

now, all we have to do is use `nodeSelector` f

[2019-05-14 13:48] wbyoung commented on #45
@eranchetz and is there a way to get it working with a single node pool? That was part of my request & the above discussion.

[2019-05-15 08:02] eranchetz commented on #45
Not really, I also think this is not good practice, since a node-pool instance is ephemeral, tagging a specific node (especially in cloud environments) might create a situation in which your static ip is not attached to the correct service.
I think that having a logical group (in this case a node-pool) is the "cheapest" most reliable option.

[2019-05-15 22:27] wbyoung commented on #45
The point would be to allow the service (pod) to be assigned to the proper node based on the label. That responsibility applied to the developer and/or cluster admin, right?

If tags are assigned when the static IPs are assigned and nodes that have static IPs don't have them removed (I'm assuming this is how this project works), then I'm not sure how this would be unsafe.

The ephemeral nature of

[2019-05-30 03:03] geekflyer opened #52 "Pool independent IPs"
We have a gke cluster with multiple node pools. We would like to assign static IPs to all nodes in the cluster.

Currently it seems the only way to achieve this is to reserve multiple static IPs and then *exlusively* pre-allocate each IP to a specific nodepool via the `kubeip-node-pool=<pool_name>` label.

This is kind of problematic since whenever we change the number of pools or rename pools (so

[2019-05-30 04:47] avivl commented on #52
![](https://github.trello.services/images/mini-trello-icon.png) [Pool independent IPs](https://trello.com/c/1abq5urA/3-pool-independent-ips)

[2019-05-30 04:47] avivl commented on #52
![](https://github.trello.services/images/mini-trello-icon.png) [Pool independent IPs](https://trello.com/c/1abq5urA/3-pool-independent-ips)

[2019-05-30 08:12] #52 closed

[2019-05-30 08:12] avivl commented on #52
@geekflyer A new variable AllNodePools was introduced. Defaults to False. Once set
to true all node pools in the cluster will be monitored  and will get an
available static ip from the pool

[2019-06-01 19:49] geekflyer commented on #52
@avivl  I just tried out the latest version of kubeip and unfortunately this still doesn't work.
I'm getting this error message when I'm trying to use `KUBEIP_ALLNODEPOOLS: 'true'`:

[code]

I think the problem lies here:
https://github.com/doitintl/kubeip/blob/84985fe295b590c7bee2538eb7b06cb37c9a213c/pkg/kipcompute/compute.go#L76

[2019-06-01 20:12] geekflyer commented on #52
created a PR #54 which should fix this

[2019-06-02 05:12] avivl commented on #52
@geekflyer thanks good catch!

[2019-06-22 13:11] remoe commented on #46
The reason why kube-ip can not run on a single-node cluster is because kube-ip changes the IP on the node running on the kube-ip:

https://github.com/doitintl/kubeip/blob/master/pkg/kipcompute/compute.go#L114

[2019-06-22 22:45] remoe commented on #46
@yra-wtag , can you please try with this PR https://github.com/doitintl/kubeip/pull/56 ? It was the first time that kube-ip works for me ;)

[2019-07-27 06:47] rubik opened #57 "Tests fail"
**Describe the bug**
Make fails to build because the tests fail:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/doitintl/kubeip`
2. `cd kubeip`
3. `make`
4. See error

**Expected behavior**
The build should succeed.

**Desktop (please complete the following information):**
 - OS: ArchLinux

[2019-07-28 04:30] avivl commented on #57
@rubik it fails because we don't have any tests. I removed the line from the makefile

[2019-07-28 04:31] #57 closed

[2019-07-28 08:06] glitchcrab opened #58 "External IPs not being assigned"
**Describe the bug**
I deployed Kubeip with the default settings (after changing pool names etc), and I left force assignment to true. Once deployed, my two external IPs were not assigned to either worker, so I assigned them manually. I'm using pre-emptible instances and when they were replaced overnight the IPs were left unassigned. Logs show nothing except the API query every 5 minutes. I am run

[2019-07-28 08:13] avivl commented on #58
@glitchcrab Can you share with me your YAML files and screenshot of the reserved IP pool?
I never tested KubeIP with preemptible instances - However, I don't think this should nake any changes.
And BTW say hi to Timo :)

[2019-07-28 11:58] glitchcrab commented on #58
I've collected a bunch of info in this gist:: https://gist.github.com/glitchcrab/dec8c0b4114d4bee3d3222af97e2ee0d

External IPs:

![external-ips](https://user-images.githubusercontent.com/7832341/62006341-50e4cb80-b137-11e9-9a5a-e2fe8186986d.jpg)

Cluster:

![kube-prod](https://user-images.githubusercontent.com/7832341/62006342-53472580-b137-11e9-9952-122f484aa16f.jpg)

Sure! How do you know each

[2019-07-28 12:15] avivl commented on #58
@glitchcrab
`KUBEIP_NODEPOOL` should be the pool name e.g `default-pool `in your case, and not  gke-k8s-prod-default-pool-4d253304-grp
I would also highly recommend that kubeip will run not on the same node pool/'s that it is monitoring. You can do that by setting `KUBEIP_SELF_NODEPOOL` to a different value then `KUBEIP_NODEPOOL`. Can you do these changes and LMK?
In the meantime, I created a clus

[2019-07-28 13:44] glitchcrab commented on #58
That looks healthier now!

[code]

I'm new to Gcloud - this is just a hobbyist cluster intended to be as cheap as possible (hence the use of pre-emptible workers). What's the reason for running in a different node-pool?  To ensure connectivity to Gcloud's APIs is maintained at all times?

[2019-07-28 14:01] avivl commented on #58
@glitchcrab I'm glad that this worked!
The reason for running in a different node-pool is to make sure that kubeip will always have connectivity and will be part of the cluster. When we change the ip for a node it may briefly disconnect from the cluster.
Can the issue be closed?

[2019-07-28 16:26] glitchcrab commented on #58
Sure, that's what i thought - i'm happy for the odd short outage when the worker with kubeip on gets replaced. Thanks for the help!

[2019-07-28 16:26] #58 closed

[2019-07-29 08:30] yra-wtag commented on #46
Yeah we are already using that.

[2019-09-06 22:18] ureesoriano opened #59 "External IPs not being assigned if node's access config name != 'external-nat'"
### 1. Describe the bug:
After successfully - and VERY easily :kudos: - deploying Kubeip on my GKE cluster, I noticed **it wasn't assigning free external IPs to nodes with ephemeral IPs**. In the logs, the following error was appearing:
[code]

### 2. Cause:
The steps that Kubeip follows to replace an ephemeral IP with an external IP on a given node are, among others:
* Delete the node's access co

[2019-09-08 05:25] avivl commented on #59
@ureesoriano PR approved and merged. Thank you!

[2019-09-08 05:25] #59 closed

[2020-02-17 14:19] lechen26 opened #66 "any way to restrict specific zone on nodepool?"
i want to use kubeip for one of my regional GKE cluster.

is there any way to specify specific label that the kubeip will work only on those nodes which has these label?

10x

[2020-02-17 14:22] avivl commented on #66
Kubeip will work on all nodes in KUBEIP_NODEPOOL.

[2020-02-27 06:17] talonx opened #67 "Documentation fix - configure nodeSelector before deploying"
**Describe the bug**
A clear and concise description of what the bug is.
The documentation does not mention that the kubeip deployment YAML has a nodeSelector (for itself) - "cloud.google.com/gke-nodepool: pool-kubip". This needs to be either edited before deployment to match the node labels on which it will be deployed, or the label needs to be added to the node(s).
Doing it without this step wou

[2020-02-27 08:51] avivl commented on #67
#68

[2020-02-27 08:51] #67 closed

[2020-03-11 09:32] #66 closed

[2020-06-29 20:43] mralanlee opened #71 "External IP addresses do not seem to be reassigned"
**Describe the bug**
Static IPs are created but node pool is still being allocated to a ephemeral IP instead of a labeled static IP. Does not seem to be doing anything other than collecting node list.

Edit:
One thing to note, as I was creating the `cluster-admin-binding` it did state that cluster-admin-binding already exists.

**Expected behavior**
IPs should be assgined.

**Logs**
[code]

[2020-09-19 13:20] benjii opened #73 "use with multiple clusters in the same projet"
Firstly, thanks for taking the time to create this tool. It has solved a key problem for us! :)

**Describe the bug**
I have two clusters, one for UAT and one for Live. I have set KubeIP up on the UAT cluster smoothly; no errors and IP addresses are being assigned. Working like a dream.

However, applying the same* process to the Live cluster has not rendered the same result. The KubeIP pod seems

[2020-09-19 13:36] benjii commented on #73
Never mind! Silly error on my part. However, if anyone else comes across this problem the issue that you do not to create the `kubeip-key` for each cluster (well, within the namespace of each cluster).

Once I did that everything worked right away!

Thanks again for this awesome tool. :)

[2020-09-19 13:36] #73 closed

[2020-10-20 07:53] alexei-led opened #74 "replace Travis CI with GitHub actions"
simplify the CI pipeline

[2020-10-20 14:50] allemattio commented on #71
Same problem here

[2020-10-21 13:35] alexei-led commented on #74
done

[2020-10-21 13:35] #74 closed

[2020-10-21 14:23] alexei-led opened #76 "Use Workload Identityfor KubeIP"
Start using Workload Identity instead of Google Service Account key stored as K8s secret

[2020-10-21 14:24] alexei-led opened #77 "Update documentation"
Update project documentation for build and configuration (credentials part)

[2020-12-07 16:09] jawabuu commented on #76
Hey @alexei-led Any progress on this?
I tried using workload identity and got this

`time="2020-12-07T14:23:12Z" level=info msg="&{kubeip static-ingress ingress-pool true [] 5ns false}"
time="2020-12-07T14:23:12Z" level=info msg="[]"
time="2020-12-07T14:23:12Z" level=info msg="kubeIP is starting" Build Date="2020-10-21T14:08:36+0000" Cluster name=kluster Project name=project-gc Version=v0
time="20

[2020-12-07 16:13] alexei-led commented on #76
@jawabuu will check this, thank you for reporting

[2020-12-07 16:16] jawabuu commented on #76
Thanks @alexei-led I'm ready to test whenever you have a build

[2020-12-08 09:09] jawabuu commented on #76
Hey @alexei-led I managed to get this working with workload identity. Feel free to close the issue.
A bit of documentation should suffice for future users.

[2020-12-08 10:08] alexei-led commented on #76
@jawabuu glad to hear you worked it out

[2020-12-08 10:08] #76 closed

[2020-12-09 14:52] orensham commented on #71
Thanks for your report.
Did you run the latest version?
Is it your first time you run it?

I am working on it and make efforts to resolve this as soon as possible

[2021-01-26 09:31] VanCoding opened #79 "Question: What happens if the IP-pool is too small?"
I've installed kubeip in our GKE cluster that consists of 3 nodes.
The IP-pool consists of 3 static IP-adresses.

The intention is that those 3 IP adresses automatically get reassigned when GKE does node updates.
But what if GKE creates a 4. node and only starts to drain and remove an old node after the new one is fully up?

In that case, there are 4 nodes for a very short time. How does kubeip ha

[2021-02-15 07:30] Burekasim commented on #79
Hi @VanCoding,

For KubeIP to work properly, you need to have the maximum amount of IPs that the cluster should/can use.

I have seen cases where a cluster with 5 nodes uses KubeIP with 15 IPs, with 10 IPs reserved for future growth (IP addresses are whitelisted in several customer environments).

The cost of unused IPs ranges from $7.3 to $10.95 (depending on the region) as of February 2021, for

[2021-02-21 16:16] TeunKooijman commented on #76
@jawabuu would you mind sharing how you got this to work? I'm struggling with this myself, and I'm getting the exact same results as you've posted here. Thanks in advance for any help!

[2021-02-22 05:09] jawabuu commented on #76
Hey @TeunKooijman are you comfortable using terraform?
If so here's how I to do it
https://github.com/nufailtd/terraform-budget-gcp/blob/main/modules/kubeip
Specifically

[code]

[2021-02-22 05:12] jawabuu commented on #76
The root cause for me was that the kubernetes service account linked to the google service account was not mounted to the kubeip pod.

[2021-02-22 20:49] TeunKooijman commented on #76
Thanks for getting back to me @jawabuu. As a matter of fact I too am using Terraform (in part). A couple of things already stood out from looking at your implementation:

- I was using `google_project_iam_binding` where you were using `google_project_iam_member`, might have just been me getting lost in translation somewhere.
- You are using `automountServiceAccountToken: true`, which if I understo

[2021-02-22 21:54] jawabuu commented on #76
Hey @TeunKooijman I am going through your code.
What is the name of your kubernetes service account? Are you annotating your kubernetes service account?

[2021-02-22 22:03] TeunKooijman commented on #76
Hi @jawabuu, thanks a lot for going through all this trouble to help me out. The service account (both the k8s and gcp one) should be called kubeip-serviceaccount. As for the annotation, see line 6 on: https://github.com/silvester-io/gcp-bootstrap/blob/master/charts/kubeip/templates/service-account.yaml

[2021-02-22 22:21] jawabuu commented on #76
No problem @TeunKooijman
Configmap seems correct
I guess what's left is to actually test that a pod with that service account mounted can perform the required API operations

Please try this
[code]

[2021-02-22 22:25] jawabuu commented on #76
Then exec into the pod, and
`gcloud auth list`

[2021-02-22 22:27] TeunKooijman commented on #76
The source URL gives me a 404 (even when removing the duplicate `/`), but if you're talking about step 7 of the [workload identity](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity#authenticating_to) (exec'ing into the pod and testing `gcloud auth list`) that works for:

[code]

I must admit that I last checked this a couple of days ago, so I'll give it another try.

[2021-02-22 22:32] TeunKooijman commented on #76
workload-identity-test.yaml:
[code]
`kubectl apply -f workload-identity-test.yaml`
`kubectl exec --stdin --tty -n kube-system workload-identity-test -- /bin/bash`
`gcloud auth list`

result is:

[code]

Does that seem right?

[2021-02-22 22:33] jawabuu commented on #76
That's perfect.
Could you try retrieving a token?

[2021-02-22 22:36] TeunKooijman commented on #76
The results of `root@workload-identity-test:/# gcloud container clusters get-credentials silvester-cluster --region europe-west1-b` are:
[code]

Is this what you meant with retrieving a token?

[2021-02-22 22:38] jawabuu commented on #76
Once you exec inside the test workload identity
pod, try retrieving an access token. Let me see if I can find an example.

[2021-02-22 22:57] jawabuu commented on #76
Try a combination of these

[code]
url is the google api url that you will call to for example list Instances, IPs e.t.c

[2021-02-22 23:00] TeunKooijman commented on #76
Do you perhaps have an example for a URL?

[2021-02-22 23:03] TeunKooijman commented on #76
I think I may have already figured it out. This is the content of the retrieved token (without header and signature):

[code]

[2021-02-22 23:04] jawabuu commented on #76
You could also share the debug logs for your KubeIP deployment

[2021-02-22 23:06] jawabuu commented on #76
In my logs, I had an error with a url shuch as this
`https://www.googleapis.com/compute/v1/projects/project-gc/regions/us-central1/addresses?alt=json`
You will need to substitute for your project.

[2021-02-22 23:06] jawabuu commented on #76
I see

[2021-02-22 23:07] TeunKooijman commented on #76
kubeip pod logs look like this:

[code]

The following part then just repeats every 4 or 5 minutes-ish:

[code]

[2021-02-22 23:09] jawabuu commented on #76
And is the IP assigned to the node successfully?

[2021-02-22 23:09] TeunKooijman commented on #76
According to https://console.cloud.google.com/networking/addresses/list?project=silvester-304916 it is not

[2021-02-22 23:11] TeunKooijman commented on #76
And according to `kubectl get nodes -w -o wide`  I don't think either:
[code]

[2021-02-22 23:12] jawabuu commented on #76
How many nodepools do you have?

[2021-02-22 23:13] TeunKooijman commented on #76
Two, `silvester-nodepool-apps` and `silvester-nodepool-ingress`.

[2021-02-22 23:13] jawabuu commented on #76
Is there a particular reason the 2nd node is `NotReady`?

[2021-02-22 23:14] TeunKooijman commented on #76
It switched from `Ready` to `Unknown` (on GCP dashboard) and `NotReady` via `kubectl describe` as soon as I apply the `kubeip` deployment.

[2021-02-22 23:15] jawabuu commented on #76
Which nodepool does it belong to?

[2021-02-22 23:16] TeunKooijman commented on #76
It belongs to `silvester-nodepool-ingres`, the one that `kubeip` tries to assign the external IP on. `kubeip` does this from the `silvester-nodepool-apps` node pool node.

[2021-02-22 23:18] TeunKooijman commented on #76
Through `kubectl describe node gke-silvester-cluste-silvester-nodepo-f3c75d49-wj20` it even shows the `kubip_assigned=35-210-199-226` label on the node.

[2021-02-22 23:20] jawabuu commented on #76
Can you terraform modules allow me to reproduce the issue?

[2021-02-22 23:26] TeunKooijman commented on #76
I'm afraid we're treading into unfamiliar territory for me. This is the first time I've done anything with Terraform. I assume you're looking for a way to lift-and-shift this to a GCP project that you control? I could look into how that's done with a Terraform module, but that would have to be tomorrow, as it's sadly getting too late for me for tonight. The other option would be to fork https://gi

[2021-02-22 23:27] jawabuu commented on #76
I'll check it out and see if I can help.

[2021-02-22 23:30] TeunKooijman commented on #76
That would be amazing, thanks a lot @jawabuu. Just a little heads up that I'm currently manually installing the `kubeip`  post github action manually (see the commented out `helm install` of `kubeip` in the bottom of the [GitHub Action](https://github.com/silvester-io/gcp-bootstrap/blob/master/.github/workflows/main.yml)).

[2021-02-23 10:23] VanCoding commented on #79
Thanks @Burekasim

After reading #15 I've got the impression that kubeip can handle cases where it doesn't have enough IP adresses for all the nodes. Or did this change at some point?

If kubeip really can't handle it, then it should probably be stated somewhere on the readme.

[2021-02-23 10:52] eranchetz commented on #79
@VanCoding kubeip can handle that case, however if there is no available static ip, it will leave the Ephemeral IP on that node.
The best way to mitigate that is to over-provision your static ip pool.
Does that make sense?

[2021-02-24 07:29] VanCoding commented on #79
@eranchetz This makes sense, thanks.
However, I think it makes more sense for us to only have 3-4 IP addresses and then bind the pods that need them to the nodes they are assigned to using nodeSelector. We don't have a lot of apps that need a static IP address.

This probably still is a topic for the readme.

[2021-02-24 08:09] eranchetz commented on #79
Totally agree about the README, we will definitely update it.
However I am not sure your point is clear, KubeIP allows you to use a specific NodePool with the KUBEIP_NODEPOOL env var.
If this NodePool is autoscaling or change frequently we recommend provisioning static ips to the max node number (in your case 4)
Please let me let know if I am missing something.

[2021-02-24 09:22] jawabuu commented on #76
Hey @TeunKooijman I was unable to create a cluster using your terraform file.
I however was able to use the terraform gke module and run KubeIP successfully. Do you mind adapting your code to use the the terraform gke module?

[2021-02-24 12:37] TeunKooijman commented on #76
That wouldn't be a problem at all. Do you perhaps have an example somewhere of what you did or how you used the gke terraform module?

[2021-02-24 12:53] jawabuu commented on #76
I will push my changes to a fork shortly.

[2021-02-24 15:40] jawabuu commented on #76
Hey @TeunKooijman Try the example at https://github.com/jawabuu/gcp-bootstrap

[2021-02-25 17:15] TeunKooijman commented on #76
Hi @jawabuu, took me a bit of time, but I've set it up with the gke module. However, the exact same thing is happening. The kubeip pod just repeats the following again every 5 minutes in the pod:

[code]

- The ingress-pool is status is "Unknown" (on the GCP portal), and NotReady (in kubectl).
- External IP is not "in use" by anything.
- The ingress pool does have the `kubip_assigned=35-210-199-22

[2021-02-25 17:36] jawabuu commented on #76
Hey @TeunKooijman Sorry to hear that.
Can you try out my code from your local workstation?
https://github.com/jawabuu/gcp-bootstrap
1. Destroy any existing terraform deployments
2. cd into terraform/cluster
3. Run `gcloud auth login`
4. Run `. ./auth.sh [your_project_name]`
5. `terraform init`
6. `terraform plan`
7. `terraform apply`

[2021-02-25 17:44] jawabuu commented on #76
I also don't think this is right
Tagging as `0.0.0.0`

[2021-02-25 18:04] TeunKooijman commented on #76
I could do that, but I must confess that I do not fully understand what the `auth.sh` script does, and that I feel a little bit weary running a script that does something that I don't understand. Could you perhaps give me a slight explanation of what it does and why that's needed?

[2021-02-25 18:06] jawabuu commented on #76
It sets these variables for use by Terraform.
[code]
You can skip it.

[2021-02-27 14:00] TeunKooijman commented on #76
Hi @jawabuu, I couldn't get your terraform files to work, sadly, so I've done some more digging on my own. It turns out that when I SSH into the ingress-pool node and query the metadata endpoint for the current `access-config`:
[code]
A clear error message suddenly comes back, saying:
[code]

I define the IP address as `STANDARD` tier on line 7 of: https://github.com/silvester-io/gcp-bootstrap/blo

[2021-02-27 14:25] TeunKooijman commented on #76
Yep, it looks like that was it. Adding the following to Terraform allowed `kubeip` to do what it had to do:

[code]

@alexei-led not sure if this is anything you want to do something with (as `kubeip` currently does not log any errors when this happens), but perhaps just mentioning on the `readme.md` that if the ingress node becomes `Unknown`/`NotReady`, it might be because the `network_tier` and

[2021-02-27 19:36] jawabuu commented on #76
Hey @TeunKooijman
Glad you got to solve it.

[2021-03-06 10:35] VanCoding commented on #79
@eranchetz Yes, I understand that the recommendation is to have a static IP for every possible node around.

However, our case is like this:

We currently have a cluster consisting of 3 Nodes, and we currently have 3 static IPs. As we deploy more and more apps to the cluster, we'll have to add additional nodes to it. So in the near future, there might be 6 nodes in the cluster. But by then, the am

[2021-03-16 16:15] brianjflowhub opened #80 "Unable to Build Docker Image"
Readme was not updated for new changes. `make image` has been removed from the Makefile.

[code]

[2021-07-02 10:41] rd-michel opened #81 "Feature Request: kubeip helm chart"
**Is your feature request related to a problem? Please describe.**
instead of people creating their own way to automate the installation of kubeip ... please provide a helm chart.

**Describe the solution you'd like**
Fast and easy way to deploy kubeip to my environment via helm chart.

[2021-11-03 14:55] cloudmark commented on #80
@brianjflowhub fixed now and its merged.

[2021-12-05 12:33] Tim-Schwalbe opened #84 "Is there no way to assign a static IP to the self node pool?"
When I got it right the self node pool  will not get a static IP because KubeIP delete somehow 0.0.0.0 for reassign and the can not connect anymore to gcloud. I tried it and it completly make the cluster unusable.

Can someone please explain why and how this happens?
Is there is a way to assign all nodes an static IP?

[2022-04-20 19:54] mikesparr opened #86 "Potential typos in README doc"
README document appears to have typos with `kubip` instead of `kubeip` in some commands

![Screen Shot 2022-04-20 at 1 53 52 PM](https://user-images.githubusercontent.com/5553105/164312122-8cd02281-b436-4183-970f-ae6aa0f6f240.png)

[2022-04-21 17:58] Bo98 commented on #84
The 0.0.0.0 thing doesn't break anything since it fails to remove it anyway: https://github.com/doitintl/kubeip/pull/85

Basically what happens is the removal of the original IP and the assignment of the new IP is a two step operation: delete the old access config and add the new access config. During this time, internet connection is unavailable from the node.

When kubeip deletes an IP, it issue

[2022-05-22 18:36] Hax7 commented on #84
@Bo98 So KubeIP does not work for public clusters?

[2022-05-25 20:48] Bo98 commented on #84
When assiging an IP to the node it's running on, no, at least not currently. If you must use a public cluster you'll need to run kubeIP on a separate node.

[2022-06-15 10:32] kimllee opened #87 ""Found node without tag""
Hello,

I have 2 static reserved ips free left with tags like : kubeip-node-pool:<pool_name>
Kubeip deployment is running on a completely another node-pool.
I'm using the last version of kubeip  : _kubeip: doitintl/kubeip:latest | Apr 14, 2022, 8:46:39 PM_
GKE version : 1.21.11-gke.1100
I don't understand why I got this :

[code]

Here's the configmap used :

[code]

Thank you.

[2022-08-21 14:31] shachar-fastsimon opened #88 "Addresses for newly created nodes update on ticker, not on creation"
**Describe the bug**
When a new node is created, it is not updated until the "On ticker" check runs.
There is a "Did not found node pool" error when the node is created though, so the "created" event does reach the controller, it just fails for some reason.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new node in the KUBEIP_NODEPOOL node pool

**Expected behavior**
The node IP ad

[2022-08-29 15:43] DanTulovsky opened #89 "Feature Request: export prom style metrics about what kubeip is doing."
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Feature Request: export prom style metrics about what kubeip is doing in order to monitor it for errors.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or s

[2022-11-06 13:41] aushafy commented on #89
what we need to expose ? So far for my case, I think we can export which IP address that pointed to what node VM name